footer(class="footer box")
    div(class="footer__content")
        div(class="footer__list")
            div(class="flickr footer__item")
                h3(class="title title--footer flickr__title") Flickr
                ul(class="flickr__list")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")
                    li(class="flickr__item")

            div(class="clients footer__item")
                h3(class="title title--footer clients__title") Featured Clients
                ul(class="clients__list")
                    li(class="clients__item")
                        a(href="#5" class="clients__link")
                            img(class="clients__logo" src="images/clients/1.png" alt="Client 1")
                    li(class="clients__item")
                        a(href="#5" class="clients__link")
                            img(class="clients__logo" src="images/clients/2.png" alt="Client 2")
                    li(class="clients__item")
                        a(href="#5" class="clients__link")
                            img(class="clients__logo" src="images/clients/3.png" alt="Client 3")
                    li(class="clients__item")
                        a(href="#5" class="clients__link")
                            img(class="clients__logo" src="images/clients/4.png" alt="Client 4")

            div(class="partners footer__item")
                h3(class="title title--footer partners__title") Our Friends
                ul(class="partners__list")
                    li(class="partners__item")
                        a(href="#5" class="partners__name") GraphicRiver
                    li(class="partners__item")
                        a(href="#5" class="partners__name") ThemeForest
                    li(class="partners__item")
                        a(href="#5" class="partners__name") NineteenEightyOne
                    li(class="partners__item")
                        a(href="#5" class="partners__name") SuiteTuts
                    li(class="partners__item")
                        a(href="#5" class="partners__name") WeAreRuckus

            div(class="pages footer__item")
                h3(class="title title--footer pages__title") Pages
                ul(class="pages__list")
                    li(class="pages__item")
                        a(href="#5" class="pages__name") Home
                    li(class="pages__item")
                        a(href="#5" class="pages__name") About
                    li(class="pages__item")
                        a(href="#5" class="pages__name") Work
                    li(class="pages__item")
                        a(href="#5" class="pages__name") Blog
                    li(class="pages__item")
                        a(href="#5" class="pages__name") Contact

    include ../../_blocks/copyright/copyright.pug
