div(class="copyright")
    div(class="copyright__content")
        p(class="copyright__text") Copyright 2011 | 
            a(href="#5" class="copyright__link") Nineteen Eighty-One

        include ../../_blocks/footer-breadcrumbs/footer-breadcrumbs.pug
