.newsletter {
    background-color: #242729;
    padding: 30px 20px 35px 20px;
    display: flex;
    justify-content: space-between;

    &__description {
        width: 387px;
        padding-right: 20px;
        border-right: 1px solid #864224;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-family: "Titillium", "Arial", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.52);
        color: #8e4423;
        margin-bottom: 7px;
        text-transform: capitalize;
    }

    &__title-light {
        font-weight: 300;
    }

    &__text {
        font-size: 13px;
        color: #7b7a6d;
        line-height: calc(15/13);
        margin-bottom: 13px;
    }

    &__square {
        width: 146px;
        height: 96px;
        box-shadow: 0 -1px 0 rgba(58, 58, 58, 0.45), inset 0 1px 0 rgba(255, 255, 255, 0.19);
        border: 5px solid #8e4423;
        box-sizing: border-box;
        float: right;
        margin-top: 6px;
    }

    &__subscription {
        width: 491px;
    }

    &__title-subscription {
        margin-bottom: 12px;
    }

    &__form {
        width: 281px;
        height: 39px;
        border: 1px solid #3f3e3d;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%);
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 29px;
    }

    &__input {
        font-family: "Myriad Pro", "Arial", sans-serif;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.35px;
        color: #757468;
        background: transparent;
        border: none;
        padding-left: 13px;
        outline: none;
        max-width: 155px;
        width: 100%;
    }

    &__button {
        font-family: "Nikaia", "Arial", sans-serif;
        font-size: 13px;
        color: #ffffff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.76);
        padding: 10px 15px 12px 16px;
        margin-right: 1px;
    }

    &__links {
        display: flex;
    }

    &__social {
        width: 62px;
        height: 68px;
        border: 1px solid #3f3e3d;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-right: 8px;
        border-radius: 8px;
    }

    &__img {
        margin-bottom: 10px;
    }

    &__follow {
        font-family: "Nikaia", "Arial", sans-serif;
        font-size: 13px;
        color: #ffffff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.76);
        padding: 4px 9px 2px 8px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-right: 1px;
    }

    &__link-block {
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.35px;
        width: 422px;
        border: 1px solid #3f3e3d;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        position: relative;
    }

    &__link-text {
        color: #6f6f64;
    }

    &__link {
        color: #e6e3bb;
    }

    &__update-button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        position: absolute;
        bottom: 1px;
        right: 1px;
        border-radius: 8px;
    }
}

@media (max-width: 992px) {
    .newsletter {
        flex-direction: column;

        &__description {
            border-right: none;
            width: 100%;
        }

        &__subscription {
            width: 100%;
        }

        &__form {
            width: 100%;
        }

        &__link-block {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .newsletter {
        padding: 20px 10px;

        &__square {
            margin-left: 10px;
        }

        &__link-block {
            padding: 10px 10px 20px 10px;
        }
    }
}
