div(class="newsletter")
    div(class="newsletter__description")
        div(class="newsletter__square")
        h3(class="newsletter__title") Pharetra 
            span(class="newsletter__title-light") Eget
        p(class="newsletter__text") Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.
        p(class="newsletter__text") Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.

    div(class="newsletter__subscription")
        h3(class="newsletter__title newsletter__title-subscription") Newsletter 
            span(class="newsletter__title-light") Subscription

        form(class="newsletter__form" action="#5" method="post")
            input(class="newsletter__input" type="email" placeholder="you@yourcompany.com")
            button(class="button newsletter__button" type="submit") Sign Up

        div(class="newsletter__links")
            div(class="newsletter__social")
                img(class="newsletter__img" src="images/icons/twitter.png" alt="Twitter")
                button(class="button newsletter__follow" type="button") Follow
            div(class="newsletter__link-block") 
                p(class="newsletter__link-text") RT @_1981_: Check out his awesome template on #themeforest
                a(href="#5" class="newsletter__link") - http://www.themeforest.net 
                    span(class="newsletter__link-text") :D

                button(class="newsletter__update-button" type="button")
                    img(class="newsletter__update-img" src="images/icons/update.png" alt="Update")
