<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Illustartor</title>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link href="//db.onlinewebfonts.com/c/561d1a2c9cda5f8f79579581ae304ae6?family=Nikaia" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header box">
        <div class="header__content">
            <div class="header__actions">
                <div class="logo header__logo"><a class="logo__text" href="index.html">_1981_</a></div><button class="header__button header__button--opened" type="button"><span class="header__button-text">Открыть меню</span></button>
            </div>
            <nav class="nav nav--closed">
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
                    <li class="nav__item"><a class="nav__link" href="about-us.html">About</a></li>
                    <li class="nav__item"><a class="nav__link" href="work.html">Work</a></li>
                    <li class="nav__item"><a class="nav__link" href="blog.html">Blog</a></li>
                    <li class="nav__item"><a class="nav__link" href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="header__user"><span class="header__welcome">Welcome Back, </span><span class="header__user-name">JohnDoe81</span></div><button class="button header__entry">Client Sign-Out</button>
        </div>
    </header>
    <main class="main">
        <div class="box">
            <h1 class="page-title">We Create Award-Winning Brand Experiences</h1>
            <div class="about-us">
                <div class="breadcrumbs about-us__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#5">Home</a></li>
                        <li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--active" href="#5">About</a></li>
                    </ul>
                </div>
                <div class="mission about-us__mission">
                    <div class="post post--mission">
                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Our mission</a>
                                <p class="post__description">Eleifend ni Huthy - <time class="post__date" datetime="5-20-2011">5/20/2011</time></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend. Maecenas ullamcorper tempor purus id mattis. Curabitur pellentesque, ante nec posuere lobortis, diam nulla sagittis lorem, semper viverra lorem erat at ipsum.</p>
                            <p class="post__text">Nullam non turpis dui. Sed erat tellus, porttitor a porttitor ut, adipiscing non dui. Nunc hendrerit, metus non tempor euismod, elit velit blandit felis, eu imperdiet lectus tortor at orci.lacinia dignissim arcu hendrerit.</p>
                        </div>
                    </div><a class="button mission__link-more" href="#5">Read more</a>
                </div>
                <div class="video about-us__video">
                    <div class="video__content"><video class="video__link">
                            <source src="#5"></video><button class="video__button-play" type="button"><img class="video__img-play" src="images/icons/play.png" alt="Play"></button></div>
                    <div class="post post--video">
                        <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Krili havtret hyo gustripast</a>
                                <p class="post__description">Krili havtret hyo gustripast - </p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum. Proin ut erat quis nulla</p>
                        </div>
                    </div>
                </div>
                <div class="post-list">
                    <div class="post post--about-us">
                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                <p class="post__description">Eleifend ni Huthy - <time class="post__date" datetime="5-20-2011">5/20/2011</time></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                        </div>
                    </div>
                    <div class="post post--about-us">
                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                <p class="post__description">Eleifend ni Huthy - <time class="post__date" datetime="5-20-2011">5/20/2011</time></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                        </div>
                    </div>
                    <div class="post post--about-us">
                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                <p class="post__description">Eleifend ni Huthy - <time class="post__date" datetime="5-20-2011">5/20/2011</time></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                        </div>
                    </div>
                    <div class="post post--about-us">
                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                <p class="post__description">Eleifend ni Huthy - <time class="post__date" datetime="5-20-2011">5/20/2011</time></p>
                            </div>
                        </div>
                        <div class="post__body">
                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="services">
                <div class="services__list">
                    <div class="service">
                        <div class="service__image-content">
                            <div class="service__image-border"><img class="service__image" src="images/icons/book.png" alt="Service"></div>
                        </div>
                        <p class="title service__title">Research</p>
                        <p class="service__text">Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.</p><a class="service__link" href="#5">learn more</a>
                    </div>
                    <div class="service">
                        <div class="service__image-content">
                            <div class="service__image-border"><img class="service__image" src="images/icons/settings.png" alt="Service"></div>
                        </div>
                        <p class="title service__title">Work</p>
                        <p class="service__text">Justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum. Nam tincidunt.</p><a class="service__link" href="#5">learn more</a>
                    </div>
                    <div class="service">
                        <div class="service__image-content">
                            <div class="service__image-border"><img class="service__image" src="images/icons/calendar.png" alt="Service"></div>
                        </div>
                        <p class="title service__title">Deliver</p>
                        <p class="service__text">Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.</p><a class="service__link" href="#5">learn more</a>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <div class="tabs__actions"><button class="tabs__button active" type="button" data-tab="tab-1">Latest Press</button><button class="tabs__button" type="button" data-tab="tab-2">Testimonials</button><button class="tabs__button" type="button" data-tab="tab-3">Blog Posts</button></div>
                <div class="tabs__content">
                    <div class="tab-content active" data-content="tab-1">
                        <div class="reviews">
                            <div class="reviews__content">
                                <section class="reviews-list">
                                    <h3 class="visually-hidden">Reviews list</h3>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">FreelanceSwitch</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/3/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Mashable</a>
                                                <p class="post__description">Eleifend ni Huthy - 4/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend mi ornare lectus or.</p>
                                        </div>
                                    </div>
                                </section>
                                <section class="reviews-list">
                                    <h3 class="visually-hidden">Reviews list</h3>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">FreelanceSwitch</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/3/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Mashable</a>
                                                <p class="post__description">Eleifend ni Huthy - 4/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend mi ornare lectus or.</p>
                                        </div>
                                    </div>
                                </section>
                                <section class="reviews-list">
                                    <h3 class="visually-hidden">Reviews list</h3>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">FreelanceSwitch</a>
                                                <p class="post__description">Eleifend ni Huthy - 5/3/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu</p>
                                        </div>
                                    </div>
                                    <div class="post post--review">
                                        <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                            <div class="post__info"><a class="post__title" href="#5">Mashable</a>
                                                <p class="post__description">Eleifend ni Huthy - 4/20/2011 - </p>
                                            </div>
                                        </div>
                                        <div class="post__body">
                                            <p class="post__text">Justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend mi ornare lectus or.</p>
                                        </div>
                                    </div>
                                </section>
                            </div><a class="reviews__control reviews__control--prev"></a><a class="reviews__control reviews__control--next"></a>
                        </div>
                    </div>
                    <div class="tab-content" data-content="tab-2">
                        <section class="reviews-list reviews-list--testimonials">
                            <h3 class="visually-hidden">Reviews list</h3>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">FreelanceSwitch</a>
                                        <p class="post__description">Eleifend ni Huthy - 5/20/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                                </div>
                            </div>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                        <p class="post__description">Eleifend ni Huthy - 5/3/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu</p>
                                </div>
                            </div>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">Mashable</a>
                                        <p class="post__description">Eleifend ni Huthy - 4/20/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend mi ornare lectus or.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-content" data-content="tab-3">
                        <section class="reviews-list reviews-list--testimonials">
                            <h3 class="visually-hidden">Reviews list</h3>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">Gizmodo</a>
                                        <p class="post__description">Eleifend ni Huthy - 5/20/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Donec pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend.</p>
                                </div>
                            </div>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/movie.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">Mashable</a>
                                        <p class="post__description">Eleifend ni Huthy - 5/3/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Pellentesque, justo eget imperdiet viverra,lectus mi ornare arcu</p>
                                </div>
                            </div>
                            <div class="post post--review">
                                <div class="post__header"><img class="post__img" src="images/icons/message.png" alt="Post">
                                    <div class="post__info"><a class="post__title" href="#5">FreelanceSwitch</a>
                                        <p class="post__description">Eleifend ni Huthy - 4/20/2011 - </p>
                                    </div>
                                </div>
                                <div class="post__body">
                                    <p class="post__text">Justo eget imperdiet viverra,lectus mi ornare arcu, non laoreet lacus lacus eleifend mi ornare lectus or.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="separator separator--small"></div>
            <div class="newsletter">
                <div class="newsletter__description">
                    <div class="newsletter__square"></div>
                    <h3 class="newsletter__title">Pharetra <span class="newsletter__title-light">Eget</span></h3>
                    <p class="newsletter__text">Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.</p>
                    <p class="newsletter__text">Donec pellentesque, justo eget imperdiet viverra, lectus mi ornare arcu, non laoreet lacus lacus eleifend orci. Nam tincidunt vestibulum lacus nec pharetra. Nunc commodo aliquam lectus quis bibendum.</p>
                </div>
                <div class="newsletter__subscription">
                    <h3 class="newsletter__title newsletter__title-subscription">Newsletter <span class="newsletter__title-light">Subscription</span></h3>
                    <form class="newsletter__form" action="#5" method="post"><input class="newsletter__input" type="email" placeholder="you@yourcompany.com"><button class="button newsletter__button" type="submit">Sign Up</button></form>
                    <div class="newsletter__links">
                        <div class="newsletter__social"><img class="newsletter__img" src="images/icons/twitter.png" alt="Twitter"><button class="button newsletter__follow" type="button">Follow</button></div>
                        <div class="newsletter__link-block">
                            <p class="newsletter__link-text">RT @_1981_: Check out his awesome template on #themeforest</p><a class="newsletter__link" href="#5">- http://www.themeforest.net <span class="newsletter__link-text">:D</span></a><button class="newsletter__update-button" type="button"><img class="newsletter__update-img" src="images/icons/update.png" alt="Update"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer box">
        <div class="footer__content">
            <div class="footer__list">
                <div class="flickr footer__item">
                    <h3 class="title title--footer flickr__title">Flickr</h3>
                    <ul class="flickr__list">
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                        <li class="flickr__item"></li>
                    </ul>
                </div>
                <div class="clients footer__item">
                    <h3 class="title title--footer clients__title">Featured Clients</h3>
                    <ul class="clients__list">
                        <li class="clients__item"><a class="clients__link" href="#5"><img class="clients__logo" src="images/clients/1.png" alt="Client 1"></a></li>
                        <li class="clients__item"><a class="clients__link" href="#5"><img class="clients__logo" src="images/clients/2.png" alt="Client 2"></a></li>
                        <li class="clients__item"><a class="clients__link" href="#5"><img class="clients__logo" src="images/clients/3.png" alt="Client 3"></a></li>
                        <li class="clients__item"><a class="clients__link" href="#5"><img class="clients__logo" src="images/clients/4.png" alt="Client 4"></a></li>
                    </ul>
                </div>
                <div class="partners footer__item">
                    <h3 class="title title--footer partners__title">Our Friends</h3>
                    <ul class="partners__list">
                        <li class="partners__item"><a class="partners__name" href="#5">GraphicRiver</a></li>
                        <li class="partners__item"><a class="partners__name" href="#5">ThemeForest</a></li>
                        <li class="partners__item"><a class="partners__name" href="#5">NineteenEightyOne</a></li>
                        <li class="partners__item"><a class="partners__name" href="#5">SuiteTuts</a></li>
                        <li class="partners__item"><a class="partners__name" href="#5">WeAreRuckus</a></li>
                    </ul>
                </div>
                <div class="pages footer__item">
                    <h3 class="title title--footer pages__title">Pages</h3>
                    <ul class="pages__list">
                        <li class="pages__item"><a class="pages__name" href="#5">Home</a></li>
                        <li class="pages__item"><a class="pages__name" href="#5">About</a></li>
                        <li class="pages__item"><a class="pages__name" href="#5">Work</a></li>
                        <li class="pages__item"><a class="pages__name" href="#5">Blog</a></li>
                        <li class="pages__item"><a class="pages__name" href="#5">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright__content">
                <p class="copyright__text">Copyright 2011 | <a class="copyright__link" href="#5">Nineteen Eighty-One</a></p>
                <div class="footer-breadcrumbs">
                    <ul class="footer-breadcrumbs__list">
                        <li class="footer-breadcrumbs__item"><a class="footer-breadcrumbs__text" href="#5">FAQ</a></li>
                        <li class="footer-breadcrumbs__item"><a class="footer-breadcrumbs__text" href="#5">Privacy Policy</a></li>
                        <li class="footer-breadcrumbs__item"><a class="footer-breadcrumbs__text" href="#5">API</a></li>
                        <li class="footer-breadcrumbs__item"><a class="footer-breadcrumbs__text" href="#5">Advertise</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="scripts/common.js"></script>
</body>

</html>
