.clients {
    width: 196px;

    &__title {
        margin-bottom: 22px;
    }
    
    &__list {
        list-style: none;
    }

    &__item {
        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__logo {
        margin: 0 auto;
        display: block;
    }
}
