mixin nav(activeElement)
    nav(class="nav nav--closed")
        ul(class="nav__list")
            -
                var navList = [
                    {
                        text: "Home",
                        href: "index",
                    },
                    {
                        text: "About",
                        href: "about-us",
                    },
                    {
                        text: "Work",
                        href: "work",
                    },
                    {
                        text: "Blog",
                        href: "blog",
                    },
                    {
                        text: "Contact",
                        href: "contact",
                    },
                ]

            each item, index in navList

                - var modActive = ""
                if  activeElement == item.text
                    - modActive = " nav__link--active"

                li(class="nav__item")
                    a(href = item.href + ".html"  class="nav__link" + modActive) !{item.text}
