div(class="footer-breadcrumbs")
    ul(class="footer-breadcrumbs__list")
        li(class="footer-breadcrumbs__item")
            a(href="#5" class="footer-breadcrumbs__text") FAQ

        li(class="footer-breadcrumbs__item")
            a(href="#5" class="footer-breadcrumbs__text") Privacy Policy

        li(class="footer-breadcrumbs__item")
            a(href="#5" class="footer-breadcrumbs__text") API

        li(class="footer-breadcrumbs__item")
            a(href="#5" class="footer-breadcrumbs__text") Advertise
